@media (max-width:800px) {
    header {
        font-size: 10px;
        flex-wrap: wrap;
        gap: 2vh;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    nav{
        overflow-x: scroll;
    }

    .user-cart {
        width: 80px;
        justify-content: space-between;
        margin-bottom: 2vh;
    }

    .user-cart img {
        height: 20px;
    }

    li img {
        height: 10px;
    }

    nav a:hover {
        font-size: small;
        font-weight: 600;
        cursor: pointer;
        position: relative;
    }

    .search {
        width: 60%;
        margin-bottom: 5px;
    }

    .alert-bar {
        text-align: center;
        padding-top: 0.2vh;
        font-size: 0.5rem;
        border-bottom: 3vh;
    }

    .banner {
        background-size: auto 80%;
        background-position: unset;
        margin-bottom: -100px;
    }

    .product-collection {
        overflow: scroll;
    }

    .products {
        margin-right: 10px;
    }


    .item-drawer {
        overflow-x: scroll;
    }
}